img {
    width: 100%;
}
.nav-bar-menu {
    text-align: center;
    margin: 32px auto;
}

.nav-bar-link {
    display: inline-block;
    margin-right: 70px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #16a085;
}

.main-block {
    background-color: #f5f6f7;
    font-family: sans-serif;
    text-align: center;
}

.main-tittle {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 59px;
    padding-bottom: 34px;
}

.main-text {
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 110px;
}

.main-text-button {
    display:inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: #16a085;
    padding: 20px 40px;
    margin: 30px auto 90px;
}

.bottom-text {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 45px 110px;
}